@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.f-card {
    background-color: #894bca;
    background-size: cover;
    height: 40vh;
}

.f-card-heading {
    color: white;
    margin: 40px;
    font-family: "Bree Serif";
}

.f-card-image {
    margin: 20px;
    height: 35vh;
    width: 50vw;
}

.f-container-bottom1 {
    background-color: white;
    border-radius: 10px;
}

.f-container-bottom-heading {
    color: #f780c3;
    font-size: 25px;
    padding: 10px;
    font-family: "Bree Serif";
    margin: 15px;
}

.bottom-element1 {
    margin: 10px;
}

.bottom-element1-img {
    height: 13vh;
    width: 15vw;
    margin: 15px;
}

.bottom-element1-heading {
    color: #323f4b;
    font-size: 25px;
    font-family: "Bree Serif";
    padding: 10px;
}

.bottom-element1-paragraph {
    color: #7b8794;
    font-size: 10px;
}

.bottom-element2 {
    margin: 10px;
}

.bottom-element2-img {
    height: 13vh;
    width: 15vw;
    margin: 15px;
}

.bottom-element2-heading {
    color: #323f4b;
    font-size: 25px;
    font-family: "Bree Serif";
    padding: 10px;
}

.bottom-element2-paragraph {
    color: #7b8794;
    font-size: 10px;
}

.bottom-element3 {
    margin: 10px;
}

.bottom-element3-img {
    height: 13vh;
    width: 15vw;
    margin: 15px;
}

.bottom-element3-heading {
    color: #323f4b;
    font-size: 25px;
    font-family: "Bree Serif";
    padding: 10px;
}

.bottom-element3-paragraph {
    color: #7b8794;
    font-size: 10px;
}

.bottom-element4 {
    margin: 10px;
}

.bottom-element4-img {
    height: 13vh;
    width: 15vw;
    margin: 15px;
}

.bottom-element4-heading {
    color: #323f4b;
    font-size: 25px;
    font-family: "Bree Serif";
    padding: 10px;
}
